/* Global style
-----------------------------------------------------------------------------*/

html {
    height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    height: 100%;
	font-family: 'Arial Regular', 'Myriad Pro Bold', 'Arial', 'Verdana', Tahoma, sans-serif;
    font-size: 18px;
}
  
.wrapper {
    min-width: 320px;
    max-width: 100%;
    min-height: 100%;
    height: auto !important;
}

@font-face{
	font-family: 'Myriad Pro Bold';
	src:url('../fonts/MyriadPro-Bold.otf')format(opentype);
}
/*Typography
-----------------------------------*/
h1 {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	text-transform: uppercase;
	font-family: 'Myriad Pro Bold' sans-serif;
}
h2, h3, h4 {
	font-family:'Arial Regular', 'Arial', sans-serif;
}


/* Header*/

.header {
    height: auto;
}


/* Middle*/

.content {
    padding: 0 0 190px;
}

.container {
    min-width: 320px;
    max-width: 960px;
    margin: 0 auto;
}

/* Footer*/

.footer {
    margin: -190px auto 0;
    min-width: 320px;
    max-width: 100%;
    height: 190px;
    position: relative;
    background: url(../images/bg-footer.png);
}

.footer .social {
    margin-left: 20px;
}

.footer .connect {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
}

.footer .google-plus {
    background: url('../images/social-google-plus.png');
    width: 44px;
    height: 44px;
}

a.twitter {
    background: url('../images/social-twitter.png');
    width: 44px;
    height: 44px;
}

a.facebook {
    background: url('../images/social-facebook.png');
    width: 44px;
    height: 44px;
}

a.linkedin {
    background: url('../images/social-linkedin.png');
    width: 44px;
    height: 44px;
}


/* Global style END
-----------------------------------------------------------------------------*/


/* Main menu
-----------------------------------------------------------------------------*/

.main-menu {
    background-image: url(../images/bg-main-menu.png);
    background-size: auto;
    text-align: center;
}

.main-menu ul {
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
}

.menu-list li {
    display: inline-block;
    font-size: 22px;
    line-height: normal;
    letter-spacing: normal;
}

.menu-item a {
    text-decoration: none;
    color: #cdcdcd;
    display: block;
    padding: 10px 30px;
}

.menu-item {
    margin: 10px 10px;
}

.active a,
.menu-item a:hover {
    background-color: #979899;
    border-radius: 30px;
    color: #1a1e21;
}


/* Main menu END
-----------------------------------------------------------------------------*/

 HEAD
/* Breadcrumb
/*-----------------------------------------------------------------------------*/
breadcrumb { 
  list-style: none; 
  overflow: hidden; 
  font: 18px Sans-Serif;
}
.breadcrumb li { 
float: left;
padding-top: 15px;

}
.breadcrumb li a {
  color: white;
  text-decoration: none; 
  padding: 10px 0 10px 63px;
  background: hsla(0,0%,53%,1); 
  position: relative; 
  display: block;
  
}
.breadcrumb li a::after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 18px solid transparent; 
  border-bottom: 18px solid transparent;
  border-left: 15px solid hsla(0,0%,53%,1);
  position: absolute;
  top: 50%;
  margin-top: -18px; 
  left: 100%;
  z-index: 1; 
}
.breadcrumb li a::before { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 18px solid transparent;       
  border-bottom: 18px solid transparent;
  border-left: 15px solid white;
  position: absolute;
  top: 50%;
  margin-top: -18px; 
  margin-left: 1px;
  left: 100%;
  z-index: 1; 
}
.breadcrumb li:first-child a {
  padding-left: 30px;
  border-radius: 5px 0 0 5px;
  margin-left: 30px;
  
}
.breadcrumb li:nth-child(2) a       { background:        hsla(0,0%,60%,1); }
.breadcrumb li:nth-child(2) a:after { border-left-color: hsla(0,0%,60%,1); }
.breadcrumb li:nth-child(3) a       { background:        hsla(0,0%,67%,1); }
.breadcrumb li:nth-child(3) a:after { border-left-color: hsla(0,0%,67%,1); }
.breadcrumb li:nth-child(4) a       { background:        hsla(0,0%,75%,1); }
.breadcrumb li:nth-child(4) a:after { border-left-color: hsla(0,0%,75%,1); }
.breadcrumb li:last-child a {
  color: white;
  background:   hsla(0,0%,75%,1);
}
.breadcrumb li:last-child a::after { 
  border-left-color: hsla(0,0%,75%,1);
}
.breadcrumb li a:hover { 
  background: hsla(0, 0%, 100%, 0); 
  color: black;
  border-left:solid white;
  
}
.breadcrumb li a:hover:after { 
  color:black;
  border-left: 15px solid white;
}

/*  Breadcrumb END

-----------------------------------------------------------------------------*/


/* Teasers section
-----------------------------------------------------------------------------*/

.teasers {
    background-color: #eeeeee;
    display: block;
    padding: 60px 0 30px 0;
}

.column-teaser {
    font-size: 0;
}

.column-teaser li:first-child {
    margin-right: 60px;
}

.block-teaser h2 {
    font-size: 34px;
    color: #915542;
    margin-bottom: 20px;
    line-height: 1.059;
}

.block-teaser p {
    font-size: 18px;
    line-height: 1.453;
}

.block-teaser {
    position: relative;
    padding-left: 180px;
    min-height: 140px;
}

.image-teaser {
    width: 140px;
    height: 140px;
    position: absolute;
    top: 0;
    left: 0;
}

.image-teaser img {
    position: absolute;
    left: 50%;
    top: 0;
    display: block;
    width: auto;
    height: 100%;
    transform: translateX(-50%);
}

.inline-block {
    display: inline-block;
    vertical-align: top;
    width: 450px;
    margin-bottom: 90px;
}


/* Teasers section End
-----------------------------------------------------------------------------*/


>>>>>>> da99c5745aa02a775976c3f0f7304a8abf988556






/* Media
-----------------------------------------------------------------------------*/

@media(max-width:768px) {
    /* Main menu*/
    .menu-item a {
        padding: 10px 10px;
    }
    .menu-item {
        margin: 10px 5px;
    }
    /*Teaser section*/
    .block-teaser h2 {
        font-size: 24px;
    }
    .block-teaser p {
        font-size: 14px;
    }
    .column-teaser {
        margin: 0 35px;
    }
    .inline-block {
        width: 45%;
    }
    .image-teaser {
        width: 100px;
        height: 100px;
    }
    .block-teaser {
        padding-left: 120px;
    }
    .column-teaser li:first-child {
        margin-right: 50px;
    }
}

@media(max-width:420px) {
    /* Main menu*/
    .menu-list li {
        font-size: 16px;
    }
    /*Teaser section*/
    .column-teaser {
        margin: 0 20px;
    }
    .inline-block {
        width: 100%;
    }
    .image-teaser {
        width: 120px;
        height: 120px;
    }
    .block-teaser {
        padding-left: 150px;
    }
}

@media(max-width:320px) {
    /*Teaser section*/
    .block-teaser h2 {
        font-size: 21px;
    }
    .image-teaser {
        width: 90px;
        height: 90px;
    }
    .block-teaser {
        padding-left: 120px;
    }
}
