/* Global style
-----------------------------------------------------------------------------*/

html {
    height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.otf') format(opentype);
    font-style: normal;
	font-weight: normal;
}

@font-face {
    font-family: 'MyriadPro-Bold';
    src: url('../fonts/MyriadPro-Bold.otf')format(opentype);
    font-style: normal;
	font-weight: normal;
}
body {
    height: 100%;
    font-family: 'Arial Regular', 'MyriadPro-Bold','MyriadPro-Regular', 'Arial', 'Verdana', 'Tahoma', sans-serif;
    font-size: 18px;
    background-image: url(../images/bg-body.png);
}

.wrapper {
    min-width: 320px;
    max-width: 100%;
    min-height: 100%;
    height: auto !important;
}

/*Typography
-----------------------------------*/
h2,
h3,
h4 {
    font-family: 'Arial Regular', 'Arial', sans-serif;
    font-weight: normal;
    font-style: normal;
}
h1 {
    font-size: 76.36px;
    font-family: 'MyriadPro-Bold', sans-serif;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0em;
}
h2 {
    font-size: 34px;
    line-height: 1.059;
}

h3 {
    font-size: 22px;
    line-height: auto;  
}

h4 {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0em;  
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 18px;
    font-family: 'Arial Regular', 'Arial', sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 28px;
}
.article p {
    font-size: 16px;
    font-family: 'Arial Regular', 'Arial', sans-serif;
    line-height: auto;
    letter-spacing: 0em; 
}

/* Header*/

.header {
    height: auto;
}


/* Middle*/

.content {
    padding: 0 0 190px;
}

.content-wrapper {
    min-width: 280px;
    max-width: 960px;
    margin: 0 auto;
}

@media(max-width:768px) {
    .content-wrapper {
        margin: 0 35px;
    }
}

@media(max-width:420px) {
    .content-wrapper {
        margin: 0 20px;
    }
}

/* Footer*/

.footer {
    margin: -190px auto 0;
    min-width: 320px;
    max-width: 100%;
    height: 190px;
    position: relative;
    background: url(../images/bg-footer.png);
}

.footer .social {
    margin-left: 20px;
}

.footer .connect {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
}

.footer .google-plus {
    background: url('../images/social-google-plus.png');
    width: 44px;
    height: 44px;
}

a.twitter {
    background: url('../images/social-twitter.png');
    width: 44px;
    height: 44px;
}

a.facebook {
    background: url('../images/social-facebook.png');
    width: 44px;
    height: 44px;
}

a.linkedin {
    background: url('../images/social-linkedin.png');
    width: 44px;
    height: 44px;
}


/* Global style END
-----------------------------------------------------------------------------*/


/* Main menu
-----------------------------------------------------------------------------*/

.main-menu {
    background-image: url(../images/bg-main-menu.png);
    background-size: auto;
    text-align: center;
}

.main-menu .menu-list li {
    display: inline-block;
    line-height: normal;
    letter-spacing: normal;
}

.menu-list .menu-item a {
    font-size: 16px;
    text-decoration: none;
    color: #cdcdcd;
    display: block;
    padding: 6px 20px;
}

.menu-list .menu-item {
    margin: 10px 10px;
}

.menu-list .active a,
.menu-list .menu-item a:hover {
    background-color: #979899;
    border-radius: 30px;
    color: #1a1e21;
}

@media(max-width:768px) {
    .menu-list .menu-item a {
        padding: 6px 10px;
    }
}

@media(max-width:420px) {
    .menu-list .menu-item {
        margin: 10px 0;
    }
    .menu-list .menu-item a {       
        font-size: 14px; 
    }    
}

/* Main menu END
-----------------------------------------------------------------------------*/

.body-top {
    background-image: url(../images/bg-body-top.jpg);
}

/*  Site title
-----------------------------------------------------------------------------*/
.site-title img {
    float: left;
    margin-top: 36px;
    margin-left: 84px;
}

.site-title h1 {
    position: relative;
    top: 40px;
    margin-left: 226px;
    background: linear-gradient(to top, #983904 50%, transparent);
    white-space: nowrap;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.site-title h1::after {
    content: url(../images/site-title-badge.png);
    position: absolute;
    bottom: 20px;
}

@media(max-width:768px) {
    .site-title img {
        margin-top: 34px;
        margin-left: 18px;
    }
    .site-title h1 {
        top: 38px;
        margin-left: 140px;
    }
    .site-title h1::after {
        display: none;
    }
}

@media(max-width:420px) {
    .site-title img {
        margin-top: 30px;
        margin-left: 0;
    }
    .site-title h1 {
        top: 32px;
        margin-left: 84px;
    }
    .site-title h1::after {
        display: none;
    }
}

@media(max-width:320px) {
    .site-title img {
        margin-top: 14px;
        margin-left: 0;
    }
    .site-title h1 {
        top: 24px;
        margin-left: 58px;
    }
    .site-title h1::after {
        display: none;
    }    
}
/*  Site title END
-----------------------------------------------------------------------------*/


/* Image Slider END
-----------------------------------------------------------------------------*/
    .swiper-container {
        width: 100%;
        height: 100%;
        padding-top: 39px;
        padding-bottom: 135px;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: url(../images/bg-body-top.jpg);
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        width: 600px;
        height: 450px;
    }
    .swiper-pagination{
        background: #6f6a67;
    }

    .swiper-button-prev .swiper-button-next {
        background-color: #6f6a67;
    }

/* Image Slider END
-----------------------------------------------------------------------------*/


/* Breadcrumb
/*-----------------------------------------------------------------------------*/

.breadcrumb {
    list-style: none;
    overflow: hidden;
    font-size: 14px;
}

.breadcrumb li {
    float: left;
    padding-top: 15px;
}

.breadcrumb li a {
    color: white;
    text-decoration: none;
    padding: 10px 10px 10px 30px;
    background: hsla(0, 0%, 53%, 1);
    position: relative;
    display: block;
}

.breadcrumb li a::after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 15px solid hsla(0, 0%, 53%, 1);
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 1;
}

.breadcrumb li a::before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 15px solid white;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.breadcrumb li:first-child a {
    padding-left: 20px;
    border-radius: 5px 0 0 5px;
    margin-left: 30px;
}

.breadcrumb li:nth-child(n+2) a {
    background: hsla(0, 0%, 66%, 1);
}

.breadcrumb li:nth-child(n+2) a:after {
    border-left-color: hsla(0, 0%, 66%, 1);
}

.breadcrumb li:last-child a {
    color: white;
    background: hsla(0, 0%, 66%, 1);
    padding-right: 15px;
}

.breadcrumb li:last-child a::after {
    border-left-color: hsla(0, 0%, 66%, 1);
}

@media(max-width:768px) {
    .breadcrumb li a {
        padding:10px 5px 10px 25px;
    }
}

@media(max-width:420px) {
    .breadcrumb li a{
       padding:10px 0 10px 20px;
    }
    .breadcrumb{       
        font-size: 13px; 
    } 
    .breadcrumb li:first-child a {
        padding-left: 10px;
    }
    .breadcrumb li:last-child a {
        padding-right: 5px;
}
/*  Breadcrumb END
-----------------------------------------------------------------------------*/


/* Teasers section
-----------------------------------------------------------------------------*/

.teasers {
    display: block;
    padding: 60px 0 25px 0;
    border-top: 5px solid #000;
    border-image-source: url(../images/teasers-border.png);
    border-image-slice: 5 3;
    border-image-repeat: repeat;
    border-image-outset: 0.5;
}

.inline-teaser {
    font-size: 0;
}

.inline-teaser article:first-child {
    margin-right: 50px;
}

.block-teaser h2 {
    color: #915542;
    margin-bottom: 20px;
}

.block-teaser {
    position: relative;
    padding-left: 180px;
    min-height: 140px;
}

.image-teaser {
    width: 140px;
    height: 140px;
    position: absolute;
    top: 0;
    left: 0;
}

.image-teaser img {
    position: absolute;
    left: 50%;
    top: 0;
    display: block;
    width: auto;
    height: 100%;
    transform: translateX(-50%);
}

.inline-block {
    display: inline-block;
    vertical-align: top;
    width: 455px;
    margin-bottom: 90px;
}

@media(max-width:768px) {
    .teasers {
        padding: 60px 0 5px 0;
    }
    .block-teaser h2 {
        font-size: 24px;
    }
    .block-teaser p {
        font-size: 14px;
    }
    .inline-block {
        width: 320px;
        margin-bottom: 45px;
    }
    .image-teaser {
        width: 100px;
        height: 100px;
    }
    .block-teaser {
        padding-left: 120px;
    }
}

@media(max-width:420px) {
    .teasers {
        padding-top: 30px;
    }    
    .inline-block {
        width: 100%;
        margin-bottom: 30px;
    }
    .image-teaser {
        width: 120px;
        height: 120px;
    }
    .block-teaser {
        padding-left: 150px;
    }
}

@media(max-width:320px) {
    .block-teaser h2 {
        font-size: 22px;
    }
    .image-teaser {
        width: 90px;
        height: 90px;
    }
    .block-teaser {
        padding-left: 100px;
    }
}

/* Teasers section End
-----------------------------------------------------------------------------*/